<h3>Quick question:</h3>
<form method='POST' action='/recipes/new'>
  <p>How many ingredients will this recipe have? (you can change your mind later, just guess/estimate)</p>
  <input type='number' id='num_of_ingredients' name='num_of_ingredients' value='3'>
  <input type='submit' id='submit' name='submit' value='Next >'>
</form>
